[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=tab
tab_width=4
trim_trailing_whitespace=true

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=tab
tab_width=4

[{tsconfig.app.json,tsconfig.spec.json,tsconfig.json,tsconfig.e2e.json}]
indent_style=tab
tab_width=4

[*.js.map]
indent_style=tab
tab_width=4

[*.less]
indent_style=tab
tab_width=4

[*.scss]
indent_style=tab
tab_width=4

[{.analysis_options,*.yml,*.yaml}]
indent_style=space
indent_size=2

[yarn.lock]
indent_style=space
indent_size=2

[tslint.json]
indent_style=tab
tab_width=4
