$radius: none;

body * {
	box-sizing: border-box;
}

.button {
	background: rgb(230, 230, 230); //white;
	color: black;
	min-width: 4em;

	&:hover {
		background: white; // yellow;
	}

	&.button-depressed {
		background: dodgerblue; // lime;
		color: white;
	}

	&.button-disabled {
		opacity: 0.4;
		pointer-events: none;
	}

	&.delete {
		background: red;
		color: white;

		&:hover {
			background: white;
			color: black;
		}
	}

	&.clear {
		background: limegreen;
		color: white;

		&:hover {
			background: lightgreen;
		}
	}
}

.label {
	background: black;
	color: white;
}

.button-group {
	display: inline-block;
	border-radius: $radius;

	> * {
		text-align: center;
		pointer-events: all;
		display: inline-block;
		padding: 0.5em;
	}
}