$radius: none;

body * {
	box-sizing: border-box;
}

.button {
	background: white;
	color: black;
	//min-width: 48px;
	min-width: 4em;

	&:hover {
		background: yellow;
	}

	&.button-depressed {
		background: lime;
		color: black;
	}

	&.button-disabled {
		opacity: 0.4;
		pointer-events: none;
	}

	&.delete {
		background: red;
		color: white;

		&:hover {
			background: tomato;
		}
	}

	&.clear {
		background: limegreen;
		color: white;

		&:hover {
			background: lightgreen;
		}
	}
}

.label {
	background: black;
	color: white;
}

.button-group {
	display: inline-block;
	border-radius: $radius;

	> * {
		text-align: center;
		pointer-events: all;
		display: inline-block;
		padding: 0.5em;
	}
}