.feature-card {
	.table {
		.row {
			&:hover {
				background: rgba(255, 255, 255, 0.1);
			}

			.cell {
				width: auto;
				padding: 0.3em 0.5em;
				display: inline-block;

				&:first-child {
					width: 5em;
				}

				span {
					//font-size: 0.8em;
				}
			}
		}
	}
}
