.list {
	//color: lightgrey;
	user-select: none;

	h2 {
		padding: 0.5em;
		margin: 0;
	}

	.list-item {
		padding: 0.3em 0.5em;
		cursor: default;

		.delete {
			display: none;
			color: lightgrey;
			padding: 0 0.25em;
			float: right;

			&:hover {
				color: white;
				background: rgba(255, 255, 255, 0.1);
			}
		}

		&.selected,
		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}

		&.selected {
			color: white;
		}

		&:hover {
			.delete {
				display: inline-block;
			}
		}
	}
}