.radio-buttons {
	h3 {
		color: lightgrey;
		margin-bottom: 0;
		padding: 0.3em 1em;
		border-bottom: 1px solid grey;
	}

	.radio-button {
		padding: 0.3em 1em;

		&:before {
			box-sizing: border-box;
			content: '';
			display: inline-block;
			position: relative;
			width: 0.6em;
			height: 0.6em;
			//border: 2px solid white;
			border-radius: 1.2em;
			background: rgba(255, 255, 255, 0.2);
			margin-right: 0.5em;
		}

		&.selected {
			&:before {
				background: white;
			}
		}
	}
}