$color-b: #333;
$color-a: lightgrey;

.button {
	font-size: 13px;
	background: lightgrey;
	color: grey;
	padding: 3px 5px;
	border-left: 1px solid slategrey;

	&:first-child {
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
		border-left: none;
	}

	&:last-child {
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
	}

	&.button-depressed {
		background: slategrey;
		color: white;
	}
}

.button-group {
	display: inline-block;
	margin-left: 4px;
}