$color-a: rgba(255, 255, 255, 0.7);

.button {
	font-size: 13px;
	background: transparent; // rgba(0, 0, 0, 0.2);
	color: $color-a; // white;
	padding: 3px 5px;
	margin-left: 1px;

	&.button-depressed {
		background: $color-a; // tomato;
		color: black; // white;
	}

	&.button-disabled {
		opacity: 0.5;
	}
}

.button-group {
	display: inline-block;
	padding: 4px;
	border-left: 1px solid rgba(255, 255, 255, 0.2);

	&:first-child {
		border: none;
		margin-left: 4px;
	}
}