.map-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: floralwhite;

	&.mode-update,
	&.mode-draw {
		cursor: crosshair;
	}
}

.box-zoom {
	box-sizing: border-box;
	pointer-events: none;
	border: 1px solid grey;
	background: rgba(130, 130, 130, 0.1);
}

.box-screen {
	box-sizing: border-box;
	position: absolute;
	pointer-events: none;
	border: 1px dotted grey;
}

.top-bar,
.bottom-bar,
.top-bar-right {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
	pointer-events: none;

	> * {
		margin-right: 1px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.top-bar {
	top: 0;
}

.bottom-bar {
	bottom: 0;
}

.top-bar-right {
	text-align: right;
}

.scale {
	pointer-events: all;
	display: inline-block;
	color: white;
	margin-right: 1px;
	width: auto;
	padding: 0.5em 0;
	background: deeppink; // mediumseagreen;
	transition: width 100ms;
	text-align: left;
	opacity: 1;

	span {
		padding: 0 0 0 0.5em;
		background: transparent;
	}
}

// hide mapbox control elements
.mapboxgl-control-container {
	display: none;
}

// suppress mapbox missing css warning
.mapboxgl-canary {
	background-color: rgb(250, 128, 114);
}

.main-tool-bar {
	position: absolute;
	padding: 0.25em 0;
	z-index: 10;
}

$colorSelected: tomato;
$colorRegular: dodgerblue;

svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	pointer-events: none;
	width: 100%;
	height: 100%;
}

path {
	fill: none;
	stroke: $colorRegular;
	stroke-width: 1;

	&.selected {
		stroke: $colorSelected;
		stroke-dasharray: 2;
	}

	&.polygon,
	&.circle {
		fill-opacity: 0.1;
		fill: $colorRegular;

		&.selected {
			fill: $colorSelected;
		}
	}

	&.polygon {
		&.selected {
			stroke-width: 0;
		}
	}

	&.arrow-head {
		fill: $colorRegular;

		&.selected {
			fill: $colorSelected;
		}
	}

	&.extent {
		fill: green;
		stroke: green;
		stroke-width: 2px;
		opacity: 0.5;
	}
}

text {
	font-size: 11px;
	fill: $colorSelected;
	text-anchor: middle;
	paint-order: stroke;
}

circle {
	fill: $colorRegular;

	&.selected,
	&.vertex {
		fill: $colorSelected;
	}

	&.vertex-selected {
		fill: none;
		stroke: $colorSelected;
	}
}

.context-menu {
	position: absolute;
	z-index: 1000;
	width: 10em;
	background: darkslategrey;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.overview {
	box-sizing: content-box;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 0;
	height: 0;
	z-index: 2;

	&.visible {
		width: 15em;
		height: 15em;
	}
}