$panel-border: 0px solid transparent;

.panel-pair-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.panel-pair {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.panel {
		position: absolute;
		//background: black;
		background: #444; // darkslategrey;

		&.panel-primary {
			//background: grey;

			.panel-drag-handle {
				position: absolute;
				z-index: 1;
				background: rgba(255, 255, 0, 0.002);
			}
		}
	}

	.shield {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255, 255, 0, 1.002);
		z-index: 1000;
	}

	&.panel-pair-horizontal {
		> .panel {
			top: 0;
			bottom: 0;

			> .panel-drag-handle {
				top: 0;
				bottom: 0;
				width: 20px;
				cursor: ew-resize;
			}

			&:first-child {
				left: 0;
				border-right: $panel-border;

				> .panel-drag-handle {
					right: 0;
					margin-right: -10px;
				}
			}

			&:last-child {
				right: 0;
				border-left: $panel-border;

				> .panel-drag-handle {
					left: 0;
					margin-left: -10px;
				}
			}
		}
	}

	&.panel-pair-vertical {
		> .panel {
			left: 0;
			right: 0;

			> .panel-drag-handle {
				left: 0;
				right: 0;
				height: 20px;
				cursor: ns-resize;
			}

			&:first-child {
				top: 0;
				border-bottom: $panel-border;

				> .panel-drag-handle {
					bottom: 0;
					margin-bottom: -10px;
				}
			}

			&:last-child {
				bottom: 0;
				border-top: $panel-border;

				> .panel-drag-handle {
					top: 0;
					margin-top: -10px;
				}
			}
		}
	}

	&.panel-pair-fixed {
		> .panel {
			> .panel-drag-handle {
				display: none;
			}
		}
	}

	.active-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 4em;
		bottom: 0;
		background: #555;
		color: white;
	}

	.toggles {
		position: absolute;
		top: 0;
		right: 0;
		width: 4em;
		bottom: 0;
	}
}
