.map-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.box-zoom {
	box-sizing: border-box;
	position: absolute;
	pointer-events: none;
	border: 1px solid grey;
	background: rgba(130, 130, 130, 0.1);
}

.box-screen {
	box-sizing: border-box;
	position: absolute;
	pointer-events: none;
	border: 1px dotted grey;
}

.center-coordinate {
	font-size: 13px;
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 10;
	padding: 8px;
	text-align: center;
	width: 150px;
	background: rgba(255, 255, 255, 0.1);
	margin-left: -75px;
	margin-bottom: 4px;
	color: rgba(255, 255, 255, 0.7);
}

.zoom {
	font-size: 13px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	padding: 8px;
	text-align: center;
	width: 40px;
	background: rgba(255, 255, 255, 0.1);
	margin-left: 4px;
	margin-bottom: 4px;
	color: rgba(255, 255, 255, 0.7);
}

// hide mapbox control elements
//.mapboxgl-control-container {
//	display: none;
//}

// suppress mapbox missing css warning
.mapboxgl-canary {
	background-color: rgb(250, 128, 114);
}