.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.box-zoom {
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  border: 1px solid grey;
}

.box-screen {
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  border: 1px dashed grey;
}

.center-coordinate {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 8px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}
